.ToDo_List {
    background-color: burlywood;
    width: 350px;
    overflow: auto;
    padding-bottom: 5%;
}

.Task {
    margin-left: 50px;
    position: relative;
}

.AddItem {
    bottom: -470px;
    right: -280px;
    position: relative;
}

.StruckLine {
    text-decoration: line-through;
}

.Titles {
    font-family: 'Indie Flower', cursive;
}
